@model WebAcademy.Model.TbCliente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TbCliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliDataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliDataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CliEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CliEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CliId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
