@{
    @model IEnumerable<ProfessorModel>
    ViewData["Title"] = "Professor";
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Professores</h1>
        <a class="btn btn-outline-success" asp-controller="Professor" asp-action="AdicionarProf">Adicionar Professor</a>
    </div>            

    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">DataNasc</th>
                <th scope="col">CPF</th>
                <th scope="col">Endereço</th>
                <th scope="col">CEP</th>
                <th scope="col">Telefone</th>
                <th scope="col">Modalidade</th>
                <th scope="col"></th>
            </tr>
        </thead>


        <tbody>
            @if (Model != null)
            {
                @foreach (var Profe in Model)
                {
                    <tr>
                        <td>@Profe.Nome</td>
                        <td>@Profe.DataNasc</td>
                        <td>@Profe.CPF</td>
                        <td>@Profe.Endereco</td>
                        <td>@Profe.CEP</td>
                        <td>@Profe.Telefone</td>
                        <td>@Profe.Modalidade</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="btn btn-outline-warning" asp-route-id="@Profe.Id" asp-controller="Professor" asp-action="EditarProf">Editar</a>
                                <a role="button" class="btn btn-outline-danger" asp-route-id="@Profe.Id" asp-controller="Professor" asp-action="ExcluirProf">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

