@model IEnumerable<WebAcademy.Model.TbTreino>

@{
    ViewData["Title"] = "Treinos";
}

<h1>Treinos</h1>

<p>
    <a asp-action="Create">Adicionar Treino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreDataHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreModalidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TreDataHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TreModalidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TreId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TreId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TreId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
