@model WebAcademy.Model.TbFuncionario

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar Funcionários</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbFuncionario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunDataNasc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunDataNasc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunModalidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunModalidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunCategoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FunId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
