@model IEnumerable<WebAcademy.Model.TbFuncionario>

@{
    ViewData["Title"] = "Funcionário";
}

<h1>Lista de Funcionários</h1>

<p>
    <a asp-action="Create">Adicionar Funcionário</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FunId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunDataNasc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunCpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunModalidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FunCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FunId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunDataNasc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunCpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunModalidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FunId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.FunId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.FunId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
