@{
    @model IEnumerable<ClienteModel>
    ViewData["Title"] = "Cliente";
}

<div class="container">

    <div class="d-flex justify-content-between align-items-center mb-5">
        <h1>Clientes</h1>
        <a class="btn btn-outline-success mx-2" asp-controller="Cliente" asp-action="AdicionarCliente">Adicionar Clientes</a>
    </div>

    <table class="table table-primary table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">DataNasc</th>
                <th scope="col">CPF</th>
                <th scope="col">Endereço</th>
                <th scope="col">CEP</th>
                <th scope="col">Telefone</th>
                <th scope="col">Modalidade</th>
                <th scope="col">DataPgto</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null)
            {
                @foreach (var x in Model)
                {
                    <tr>
                        <td>@x.Nome</td>
                        <td>@x.DataNasc</td>
                        <td>@x.CPF</td>
                        <td>@x.Endereco</td>
                        <td>@x.CEP</td>
                        <td>@x.Telefone</td>
                        <td>@x.Modalidade</td>
                        <td>@x.DataPgto</td>
                        <td>
                            <a class="btn btn-outline-warning mx-2" asp-route-id="@x.Id" asp-controller="Cliente" asp-action="EditarCliente">Editar</a>
                            <a class="btn btn-outline-danger mx-2" asp-route-id="@x.Id" asp-controller="Cliente" asp-action="ExcluirCliente">Apagar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

